body {
  background-color: #442075;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace
}

html {
  height: 500vh;
}

.container {
  max-width: 1280px;
  margin: auto;

}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 65px 4%;
  position: fixed;
  top: 0 left: 0;
  transition: 0.4s;
}

header.rolagem {
  background-color: #2d0566;
  padding: 30px 4%;

}

header.rolagem a, header.rolagem i {
color: aliceblue;
}



header i {
  font-size: 30px;
  color: aliceblue;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 40px;
}

header ul li a {
  color: aliceblue;
  text-decoration: none;
}

nav a{
  position: relative
}

nav a::after {
content: " ";
width: 0%;
height: 1px;
background-color: aliceblue; 
position: absolute;
bottom: 0;
left: 0;
transition: 0.5s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

.banner {
  background-image: url(Imagens/fliperama2.png);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}


.Jogos {
  left: 15%;
  top: 5%;
  width: 150px;
  z-index: 9999;
}

.fliperama2 {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
}

.texto {
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 60px;
  text-transform: uppercase;
}

.imagem-jogo {
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista-item {
  flex: 1 0 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(50, 50, 90, .1);
  background-color: #2d0566;
}

.faq-titulo {
  cursor: pointer;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.faq-titulo:before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 24px;
  margin-right: 10px;
  background: #442075;
}

.faq-titulo:after {
  content: '+';
  float: right
}

.faq-conteudo {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4em;
  display: none;

}

.trigger-input {
  display: none
}

.trigger-input:checked+.trigger-wrapper .faq-conteudo {
  display: block;
}

.trigger-input:checked+.trigger-wrapper .faq-titulo {
  color: rgb(209, 145, 237)
}

.trigger-input:checked+.trigger-wrapper .faq-titulo:after {
  transform: rotate(45deg) scale(1.08);
}